@use '../../../../shared/ui/variables.module' as vars;

.filter-container {
  background: rgba(0, 0, 0, 0.8);
}
.filter {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  border-bottom: 1px solid vars.$color-border-light;

  @media screen and (min-width: vars.$breakpoint-mobile){
    flex-direction: row;
  }
}

.button-container {
  padding: 10px 20px;
}

.filter-group {
}

.filter-group-title {
  font-size: 0.75rem;
}

.filter-group-items {
  height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
}

.filter-group-item {
  margin-bottom: 10px;
}

.icon-nation {
  display: inline-block;
  height: 26px;
}
.icon-nation-img {
  height: 100%;
}