@use "../shared/ui/variables.module.scss" as vars;

@import "normalize-scss";
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;

	@media screen and (min-width: vars.$breakpoint-tablet) {
		font-size: 16px;
	}
}

h1 {
	font-size: 1.5rem;
}