@use '../../shared/ui/variables.module.scss' as vars;

.filter-container {
  background: rgba(0, 0, 0, 0.4);
}
.filter {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  border-bottom: 1px solid rgba(224, 233, 242, 0.5);
}

.button-container {
  padding: 10px 20px;
}

.filter-group {
}

.filter-group-title {
  font-size: 0.75rem;
}

.filter-group-items {
  height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
}

.filter-group-item {
  margin-bottom: 10px;
}

.icon-nation {
  display: inline-block;
  height: 26px;
}
.icon-nation-img {
  height: 100%;
}